<!DOCTYPE html>
<html>
<head>
	
<link rel="stylesheet" href="/static/css/predefinido.css">
<link rel="stylesheet" href="/static/css/detalle-producto.css">
<script src="/socket.io/socket.io.js"></script>
<script src="https://unpkg.com/feather-icons"></script>
<script src="https://kit.fontawesome.com/ee5c196280.js" crossorigin="anonymous"></script>
<title>Comprar Producto | MarketNow</title>
<meta charset="utf-8">
</head>
<body>
	<%- include('partials/menuComercio.html', {sitio: 'Comprar Producto', nombre: nombre}) %>
<main>
	<div class="cuadrado">
		<div class="contenedor-padre">
			<img class="producto-img" src="">
			<div class="contenedor-detalles">
			<div class="contenedor-desc">
				<label>Producto: </label><label><%= row.nombre %></label>
				<label>Cantidad: </label><label><%= cantidad %></label>
				<label>Monto Total: </label><label><%= montoTotal %></label>

				<label>Metodos de Pago</label>
				<% for(let i = 0; i < metodos.length; i++) { %>
				<div><label>Metodo: </label><label><%= metodos[i].metodo %></label></div>
				<div class="info_metodos">
				<div><label>Cuil: </label><label><%= metodos[i].cuil %></label></div>
				<div><label>Cbu: </label><label><%= metodos[i].cvu %></label></div>
				<div><label>Alias: </label><label><%= metodos[i].alias %></label></div>
				</div>
				<% } %>

				<label>Pago a Realizar</label>
				<br>
				<form method="POST" action="/mercado/pagoPedido" id="formulario" enctype="multipart/form-data">
					<input type="number" name="monto" value="<%= montoTotal %>" hidden>
					<input type="number" name="idProveedor" id="idProveedor" value="<%= row.idProveedor  %>" hidden>
					<input type="number" name="idComercio" value="<%= idComercio %>" hidden>
					<input type="number" name="cantidad" value="<%= row.cantidad %>" hidden>
					<input type="number" name="precio" value="<%= row.precio %>" hidden>
					<input type="number" name="cbd" value="<%= row.cdb %>" hidden>
					<input type="number" name="idArticulo" id="idArticulo" value="<%= row.idArtProv %>" hidden>
				
				<label style="text-align: center;" id="contenedor_imagen" class="button_verde">
					<input type="file" name="imagen" id="imagen" onchange="validarImagen(this);" required>
						Mandar Recibo
					</label>
				</form>
				<br>
				<button class="button_verde" id="cancelarPedido">Cancelar Pedido</button>
		</div>
		</div>
	</div>
<script type="text/javascript">
	document.getElementById("cancelarPedido")
	.addEventListener("click", cancelarPedido);

	function cancelarPedido() {
		window.history.back();
	}

	function validarImagen(obj) {
		var uploadFile = obj.files[0];

		if (!window.FileReader) {
			alert("El navegador no soporta la lectura de archivos");
			document.getElementById("imagen").value = "";
			return;
		}

		if (!/\.(jpg|png|pdf)$/i.test(uploadFile.name)) {
			alert("El archivo a adjuntar no es un archivo valido");
			document.getElementById("imagen").value = "";
		} else {
			var img = new Image();
			img.onload = function () {
				if (uploadFile.size > 1000000) {
					alert("El peso de la imagen no puede exceder los 10mb");
					document.getElementById("imagen").value = "";
				} else {
					enviarForm();
				}
			};
			img.src = URL.createObjectURL(uploadFile);
		}
	}

	function enviarForm() {
		const idProveedor = document.getElementById("idProveedor").value;
		const socket = io();
		socket.on("connect", () => {
			console.log(socket.id);
		});
		socket.emit("nuevo-pedido", idProveedor);
		socket.on("pedido-visto", () => {
			document.getElementById("formulario").submit();
		});
	}
</script>
<script>feather.replace()</script>
</main>
</body>
</html>