<!DOCTYPE html>
<html>
<head>
	
<link rel="stylesheet" href="/static/css/predefinido.css">
<link rel="stylesheet" href="/static/css/detalle-producto.css">
<script src="https://unpkg.com/feather-icons"></script>
<script src="https://kit.fontawesome.com/ee5c196280.js" crossorigin="anonymous"></script>
<title><%= row.nombre %> | MarketNow</title>
<meta charset="utf-8">
</head>
<body>
	<%- include('partials/menuComercio.html', {sitio: row.nombre, nombre: nombre}) %>
<main>
	<div class="cuadrado">
		<div class="contenedor-padre">
			<img class="producto-img" src="<%= row.imagen %>">
			<div class="contenedor-detalles">
			<div class="contenedor-desc">
				<label class="label-1"><b><%= row.nombre %></b></label>
				<div>
					<img class="icono" src="/static/img/palta-buena.png">
					<img class="icono" src="/static/img/palta-buena.png">
					<img class="icono" src="/static/img/palta-buena.png">
					<img class="icono" src="/static/img/palta-mala.png">
					<img class="icono" src="/static/img/palta-mala.png">
					<label>115 OpiPaltas</label>
				</div>
			</div>
			<label class="precio">$<%= row.precio %></label>
			<label><%= row.descripcion %></label>
			<label></label>
			<form method="POST" action="/mercado/comprarProducto">
			<input type="number" name="idProducto" value="<%= row.idArtProv %>" hidden>
			<input type="number" name="idComercio" value="<%= idComercio %>" hidden>
			<div>
				<label>Stock Disponible</label>
				<div>
					<label>Cantidad:</label>
					<input type="number" name="cantidad" required="">
					<label>(Disponibles: <%= row.cantidad %>)</label>
				</div>
				<label>Podes comprar hasta 3 unidades</label>
			</div>
			<button class="button_verde">Comprar</button>
			</form>
		</div>
		</div>
	</div>
<script>feather.replace()</script>
</main>
</body>
</html>
