<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="entregas-pendientes2.css">
	<script src="https://unpkg.com/feather-icons"></script>
	<script src="https://kit.fontawesome.com/ee5c196280.js" crossorigin="anonymous"></script>
	<title>Entregas Pendientes | MarketNow</title>
	<meta charset="utf-8">

</head>
<body>
<main>
	<form class="cuadrado-1">

		<div class="contenedor-label">
			<label class="label-1">N° pedido <span>1328</span></label>
		</div>

		<div class="contenedor-producto">
			<label class="label-1">Descripcion</label>
			<label class="label-1">Cantidad</label>
		</div>

		<div class="puntito">
			
		</div>
		
		<div class="contenedor-producto">
			<label class="label-1">Palta Verde</label>
			<label class="label-1">40.5</label>
		</div>

		<div class="contenedor__input">
            <input type="text" name="nombre" class="input" placeholder="Categoria">
        </div>

        <div class="contenedor__input">
            <input type="number" name="precio" class="input" placeholder="Precio de Venta">
        </div>

        <div class="contenedor__input">
            <input type="number" name="ganancia" class="input" placeholder="Margen de Ganancia">
        </div>

        <div class="contenedor__input">
            <input type="number" name="minima" class="input" placeholder="Cantidad Minima">
        </div>

        <div class="contenedor__input">
            <input type="number" name="ideal" class="input" placeholder="Cantidad Ideal">
        </div>

        <input class="button_verde button" type="submit"> 
	</form>

	
</main>
</body>
</html>
