<!doctype html>
<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/static/css/predefinido.css">
<link rel="stylesheet" href="/static/css/stock-faltante.css">
<script src="https://unpkg.com/feather-icons"></script>
<script src="https://kit.fontawesome.com/ee5c196280.js" crossorigin="anonymous"></script>
<title>Entregas Pendientes | MarketNow</title>
<meta charset="utf-8">
</head>
<body>
		<%- include('partials/menuComercio.html', {sitio:'Entregas Pendientes', nombre: nombre}) %>
<main>
<div class="contenedor-cuadrado">
	<div class="cuadrado-1">
		<div class="contenedor-padre">
			<div class="contenedor-label">
				<label class="label-1"><%= info.pedidos %></label>
				<label class="label-2">Pedidos</label>
			</div>
			<i class="fas fa-parachute-box icono"></i>

		</div>
	</div>
	<div class="cuadrado-1">
		<div class="contenedor-padre">
			<div class="contenedor-label">
				<label class="label-1">$<%= info.monto %></label>
				<label class="label-2">Monto</label>
			</div>
			<i class="fas fa-wallet icono"></i>

		</div>
	</div>

	<div class="cuadrado-1">
		<div class="contenedor-padre">
			<div class="contenedor-label">
				<label class="label-1"><%= info.verificados %></label>
				<label class="label-2">Verificados</label>
			</div>
			<i class="fas fa-calendar-check icono"></i>

		</div>
	</div>

	<div class="cuadrado-1">
		<div class="contenedor-padre">
			<div class="contenedor-label">
				<label class="label-1"><%= info.proveedores %></label>
				<label class="label-2">Proveedores</label>
			</div>
			<i class="fas fa-truck icono"></i>

		</div>
	</div>
</div>

<div class="contenedor-padre" style="width: 80%;">

	<div class="contenedor-tabla" id="contenedor-tabla">

		<div class="tabla-title">
			<label class="label-3"><b>Pedidos Pendientes</b></label>
		</div>

		<div class="tabla-rol">
			<label class="label-4">N° de pedido</label>
			<label class="label-proveedor">Proveedor</label>
			<label class="label-estado">Estado</label>
			<% if(rol == 2) { %>
        		<label class="label-estado">Direccion</label>
    		<% } else { %>  
				<label class="label-estado">LLego</label>
			<% } %>
			
		</div>


		<div class="tabla-descripcion">
			<div class="contenedor-tabla-descripcion">
				<% for (let i = rowsPedido.length - 1; i > 0; i--) { %>
				<label class="label-descripcion"><%= rowsPedido[i].idPedido %></label>
				<label class="label-raul"><%= rowsPedido[i].nombreProv %></label>
				<div class="contenedor-status">
					<i class="fas fa-circle icon-status <%= rowsPedido[i].estado %>"></i><label class="label-status"><%= rowsPedido[i].estado %></label>
				</div>
				<% if(rol == 2) { %>
        		<label class="label-estado"><%= rowsProv[0].direccion %></label>
    		<% } else { %>  
				<% if( rowsPedido[i].estado == 'verificado') { %>
						<div class="contenedor-status">
							<i class="fas fa-check icon-status %>" onclick="llegoPedido(<%= rowsPedido[i].idPedido %>)"></i>
						</div>
					<% } else { %>
						<div class="contenedor-status">
							<i></i>
						</div>
					<% } %>
				<% } %>
			<% } %>
			</div>
		</div>
</div>
	<div class="contenedor-tabla-proveedores">
		<div class="tabla-proveedores">
			<label class="label-3"><b>Proveedores</b></label>
		</div>

		<div class="tabla-descripcion-proveedores">
			<div class="contenedor-tabla-descripcion-proveedores">
<!-- 				<img class="proveedor-img" src="/static/img/proveedor.jpg">
				<div class="nombre-rol">
					<label class="label-nombre">Raul Paltero</label>
					<label class="label-rol">Paltas al por mayor</label>
				</div>
				<div class="contenedor-icon-desc">
					<i class="far fa-user-circle desc"></i>
					<i class="far fa-envelope desc"></i>
					<i class="fas fa-phone-alt desc"></i>
				</div> -->
			</div>

			<% for (let i = 0; i < rowsProv.length; i++) { %>
				<div class="contenedor-tabla-descripcion-proveedores-1">
					<% if (rowsProv[i].logo == null) { %>
						<img class="proveedor-img" src="/static/img/proveedor.jpg">
					<% } else { %>
						<img class="proveedor-img" src="<%= rowsProv[i].logo %>">
					<% } %>
					<div class="nombre-rol">
						<label class="label-nombre"><%= rowsProv[i].nombre %></label>
						<label class="label-rol"><%= rowsProv[i].nombreLocal %></label>
					</div>
					<div class="contenedor-icon-desc">
						<i class="far fa-user-circle desc"></i>
						<a href="#" title="<%= rowsProv[i].email %>" style="cursor: default;"><i class="far fa-envelope desc"></i></a>
						<a href="#" title="<%= rowsProv[i].telefono %>" style="cursor: default;"><i class="fas fa-phone-alt desc"></i></a>
					</div>
				</div>
			<% } %>
		</div>
	</div>
</div>

<script>
	function llegoPedido(id) {
	    const url = "/mercado/pagoVerificado";
			const estado = 'entregado';
	    fetch(url, {
	        method: "PUT",
	        body: JSON.stringify({ id, estado}),
	        headers: {
	            "Content-Type": "application/json",
	        },
	    })
	        .then((res) => res)
	        .then((response) => {
	            console.log("Success:", response);
	            recargar();
	        })
	        .catch((error) => console.error("Error:", error));
	}

	function recargar() {
	    location.reload();
	}
</script>

<script>feather.replace()</script>
</main>
</body>
</html>
