<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="/static/css/registro-proveedores.css">
	<link rel="stylesheet" href="/static/css/predefinido.css">
	<script src="https://unpkg.com/feather-icons"></script>
	<script src="https://kit.fontawesome.com/ee5c196280.js" crossorigin="anonymous"></script>
	<title>Registro Proveedores | MarketNow</title>
	<meta charset="utf-8">

</head>
<body>

	<%- include('partials/menuComercio.html', {sitio:'Registro Proveedores', nombre: nombre}) %>

<main>
	
<div class="contenedor-padre" style="width: 80%;">

	<div class="contenedor-tabla">
		<div class="tabla-title">
			<span class="label-3"><b>Registro Proveedores</b></span>
		</div>
		<div class="tabla">
			<table>
				<thead>
					<tr>
						<th><label class="label-titulo">Proveedor</label></th>
						<th><label class="label-titulo">Nombre de la Empresa</label></th>
						<th><label class="label-titulo">Telefono</label></th>
						<th><label class="label-titulo">Interacciones</label></th>
						<th><label class="label-titulo">Comprable</label></th>
						<th></th>
					</tr>
				</thead>
				<tbody id="cuerpo">
					<tr>
						<th><div class="contenedor-tabla-descripcion-proveedores-1">
						
						<img class="proveedor-img" src="/static/img/proveedor.jpg">

						<div class="nombre-rol">
							<label class="label-nombre">Raul Paltero</label>
							<label class="label-rol">CEO Tomatero</label>
						</div>
						
					</div></th>

						<th>Tomateros Corp</th><th>1543257862</th><th class="interacciones">5</th><th class="th-icon"><i class="far fa-check-square check"></i></th>
					</tr>
					<tr>
						<th><div class="contenedor-tabla-descripcion-proveedores-1">
						
						<img class="proveedor-img" src="/static/img/proveedor.jpg">

						<div class="nombre-rol">
							<label class="label-nombre">Raul Paltero</label>
							<label class="label-rol">CEO Tomatero</label>
						</div>
						
					</div></th>

						<th>Tomateros Corp</th><th>1543257862</th><th class="interacciones">5</th><th class="th-icon"><i class="far fa-window-close cancel"></i></th>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	
</main>
<script>feather.replace()</script>
</body>
</html>
