<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="/static/css/registro-proveedores.css">
	<link rel="stylesheet" href="/static/css/predefinido.css">
	<script src="https://unpkg.com/feather-icons"></script>
	<script src="https://kit.fontawesome.com/ee5c196280.js" crossorigin="anonymous"></script>
	<title>Registro Proveedores | MarketNow</title>
	<meta charset="utf-8">

</head>
<body>

	<%- include('partials/menuComercio.html', {sitio:'Registro Proveedores', nombre: nombre}) %>

<main>
	
<div class="contenedor-padre" style="width: 80%;">

	<div class="contenedor-tabla">
		<div class="tabla-title">
			<span class="label-3"><b>Registro Proveedores</b></span>
		</div>
		<div class="tabla">
			<table>
				<thead>
					<tr>
						<th><label class="label-titulo">Proveedor</label></th>
						<th><label class="label-titulo">Nombre de la Empresa</label></th>
						<th><label class="label-titulo">Telefono</label></th>
						<th><label class="label-titulo">Interacciones</label></th>
						<th><label class="label-titulo">Email</label></th>
						<th></th>
					</tr>
				</thead>
				<tbody id="cuerpo">
					<% for(let i = 0; i < rows.length; i++) { %>
					<tr>
						<th><div class="contenedor-tabla-descripcion-proveedores-1">
						<% if (rows[i].logo == null) { %>
						<img class="proveedor-img" src="/static/img/proveedor.jpg">
					<% } else { %>
						<img class="proveedor-img" src="<%= rows[i].logo %>">
					<% } %>

						<div class="nombre-rol">
							<label class="label-nombre"><%= rows[i].nombre %></label>
							<label class="label-rol">CEO</label>
						</div>
						
					</div></th>

						<th><%= rows[i].nombreLocal %></th><th><%= rows[i].telefono %></th><th class="interacciones"><%= rows[i].interacciones %></th><th class="th-icon"><a href="#" title="<%= rows[i].email %>" style="cursor: default;"><i class="far fa-envelope desc check"></i></a></i></th>
					</tr>
					<% } %>
				</tbody>
			</table>
		</div>
	</div>
	
</main>
<script>feather.replace()</script>
</body>
</html>
