<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.6.0/chart.js"></script>
	<link rel="stylesheet" href="/static/css/predefinido.css">
	<link rel="stylesheet" href="/static/css/reporteBalance.css">
	<script src="https://unpkg.com/feather-icons"></script>
	<script src="https://kit.fontawesome.com/ee5c196280.js" crossorigin="anonymous"></script>
	<title>Reporte de Balance | MarketNow</title>
	<meta charset="utf-8">
</head>
<body>
	<%- include('partials/menuComercio.html', {sitio:'Productos Faltantes', nombre: nombre}) %>
	<!--
	<div class="contenedor-grafico" style="width: 60%;">
		<canvas id="myChart" width="100" height="100"></canvas>
	</div>
	-->
<main>
<div class="contenedor-cuadrado">
	<div class="cuadrado-1">
		<div class="contenedor-padre">
			<div class="contenedor-label">
				<label class="label-1" id="info__paltas">$<%= (haber == null)? 0: haber %></label>			
				<label class="label-2">Haber</label>
			</div>
			<i class="fas fa-box icono"></i>
			
		</div>
	</div>
	<div class="cuadrado-1">
		<div class="contenedor-padre">
			<div class="contenedor-label">
				<label class="label-1" id="info__paltas">$<%= ingresos %></label>			
				<label class="label-2">Ingresos</label>
			</div>
			<i class="fas fa-hand-holding-usd icono"></i>
			
		</div>
	</div>		

	<div class="cuadrado-1">
		<div class="contenedor-padre">
			<div class="contenedor-label">
				<label class="label-1" id="info__paltas">$<%= (gastoTotal == null)? 0: gastoTotal %></label>			
				<label class="label-2">Egresos</label>
			</div>
			<i class="fas fa-angle-double-down icono"></i>
			
		</div>
	</div>

	<div class="cuadrado-1">
		<div class="contenedor-padre">
			<div class="contenedor-label">
				<label class="label-1" id="info__paltas">$<%= (isNaN(ingresos - gastoTotal))? 0: ingresos - gastoTotal %></label>			
				<label class="label-2">Balance</label>
			</div>
			<i class="fas fa-balance-scale icono"></i>
			
		</div>
	</div>

	<div class="cuadrado-1">
		<div class="contenedor-padre">
			<div class="contenedor-label">
				<label class="label-1" id="info__paltas"><%= (isNaN(Math.round(((ingresos - gastoTotal)*100)/(ingresos))))? '': Math.round(((ingresos - gastoTotal)*100)/(ingresos)) %>%</label>			
				<label class="label-2">Margen</label>
			</div>
			<i class="fas fa-chart-pie icono"></i>
			
		</div>
	</div>
</div>
	<div class="contenedor-contenedor">
		<div class="contenedor-tablas">
			<div class="granContenedor">
			    <div class="contenedor__tabla admin__contenido">
				    <div id="main-conteiner">
				    	<table class="table comercio"id="tabla">
				        <div class="titulo-tabla">
				        	<label class="label-3">Ventas</label>
				        </div>
				    <tbody id="cuerpo" class="ventas">
				    	<tr>
				    		<th>Cantidad</th><th><%= (canVentas == null)? 0: canVentas %></th>
				    	</tr>
				    	<tr>
				    		<th>Ingreso</th><th>$<%= (ingresos == null)? 0: ingresos%></th>
				    	</tr>
				    	<tr>
				    		<th>Ganancia</th><th>$<%= (ingresos - egresos['compras'] == null)? 0: ingresos - egresos['compras'] %></th>
				    	</tr>
				    </tbody>
				    </table>    
			    	</div>      
		    	</div>
			</div>
		
			<div class="granContenedor">
			    <div class="contenedor__tabla admin__contenido">
				    <div id="main-conteiner">
				    	<table class="table comercio"id="tabla">
				        <div class="titulo-tabla">
				        	<label class="label-4">Compras</label>
				        </div>
				    <tbody id="cuerpo" class="ventas">
				    	<tr>
				    		<th>Cantidad</th><th><%= (canCompras == null)? 0: canCompras %></th>
				    	</tr>
				    	<tr>
				    		<th>Egresos</th><th>$<%= (egresos['compras'] == null)? 0: egresos['compras'] %></th>
				    	</tr>

				    </tbody>
				    </table>    
			    	</div>      
		    	</div>
			</div>
		</div>

		<div class="contenedor-grafico-2" style="width: 60%;">
			<canvas id="myChart2" width="100" height="40" style="max-height: 364px;"></canvas>
		</div>
	</div>

	<div class="contenedor-tablas-2">
		<div class="granContenedor">
			    <div class="contenedor__tabla1 admin__contenido">
				    <div id="main-conteiner">
				    	<table class="table comercio"id="tabla">
				        <div class="titulo-tabla">
				        	<label class="label-6">Otros gastos</label>
				        </div>
				    <tbody id="cuerpo" class="ventas">
				    	<tr>
				    		<th>Impuestos</th><th>$<%= (egresos['impuestos'] == null)? 0: egresos['impuestos'] %></th>
				    	</tr>
				    	<tr>
				    		<th>Salario</th><th>$<%= (egresos['salarios'] == null)? 0: egresos['salarios'] %></th>
				    	</tr>
				    	<tr>
				    		<th>Alquiler</th><th>$<%= (egresos['alquiler'] == null)? 0: egresos['alquiler'] %></th>
				    	</tr>
				    	<tr>
				    		<th>Servicios</th><th>$<%= (egresos['servicios'] == null)? 0: egresos['servicios'] %></th>
				    	</tr>
				    	<tr>
				    		<th>Otros</th><th>$<%= (egresos['otros'] == null)? 0: egresos['otros'] %></th>
				    	</tr>
				    	<tr>
				    		<th>Total</th><th>$<%= (egresosTotal == null)? 0: egresosTotal %></th>
				    	</tr>
				    </tbody>
				    </table>    
			    	</div>      
		    	</div>
			</div>

			<div class="granContenedor">
			    <div class="contenedor__tabla2 admin__contenido">
				    <div id="main-conteiner">
				    	<table class="table comercio"id="tabla">
				        <div class="titulo-tabla">
				        	<label class="label-5">Top 5 productos mas vendidos</label>
				        </div>
				    <tbody id="cuerpo" class="ventas">
				    	<% for(let i = 0; i < topMas.length; i++) { %>
				    	<tr>
				    		<th><%= topMas[i] %></th>
				    	</tr>
				    	<% } %>
				    </tbody>
				    </table>    
			    	</div>      
		    	</div>
			</div>

			<div class="granContenedor">
			    <div class="contenedor__tabla3 admin__contenido">
				    <div id="main-conteiner">
				    	<table class="table comercio"id="tabla">
				        <div class="titulo-tabla">
				        	<label class="label-5">Top 5 productos menos vendidos</label>
				        </div>
				    <tbody id="cuerpo" class="ventas">
				    	<% for(let i = 0; i < topMenos.length; i++) { %>
				    	<tr>
				    		<th><%= topMenos[i] %></th>
				    	</tr>
				    	<% } %>
				    </tbody>
				    </table>    
			    	</div>      
		    	</div>
			</div>
	</div>

	<div class="contenedor-contenedor-tabla4">
		<div class="granContenedor">
				    <div class="contenedor__tabla4 admin__contenido">
					    <div id="main-conteiner">
					    	<table class="table comercio"id="tabla">
					        <div class="titulo-tabla">
					        	<label class="label-7">Perdidas</label>
					        </div>
					    <tbody id="cuerpo" class="ventas">
					    	<tr>
					    		<th>Total</th><th>$600</th>
					    	</tr>

					    </tbody>
					    </table>    
				    	</div>      
			    	</div>
				</div>

		<div class="contenedor-grafico" style="width: 60%;">
			<canvas id="myChart" width="100" height="40" style="max-height: 400px;"></canvas>
		</div>

	</div>

	<div class="contenedor-ultimos-graficos">

		<div class="contenedor-grafico3" style="width: 60%;">
				<canvas id="myChart4" width="100" height="100" style="max-height: 364px;"></canvas>
		</div>

		<div class="contenedor-grafico3" style="width: 60%;">
				<canvas id="myChart3" width="100" height="100" style="max-height: 364px;"></canvas>
		</div>

	</div>
<script>feather.replace()</script>
</main>
</body>
<script>
	var ctx= document.getElementById('myChart').getContext("2d");
	var myChart= new Chart(ctx,{
		type:"bar",
		data:{
			labels:['Julio','Agosto','Septiembre','Octubre','Noviembre'],
			datasets:[{
				label:'Balance Meses Anteriores',
				data:[5000,-900,3500,2300,'<%= ingresos - gastoTotal %>'],
				backgroundColor:[
					'rgb(2, 119, 189)'
				]
			}]
		}
	});

	const ventasDia = '<%= ventasPorDia %>';
	const ventasPorDia = ventasDia.split(',').reverse()
	const contador = (array) => {
		const nuevoArray = [];
		array.forEach((val, i) => {
			nuevoArray.push(i + 1);
		})
		return nuevoArray;
	} 
	const cantidadDias = contador(ventasPorDia);

	var ctx = document.getElementById('myChart2').getContext("2d");
	var myChart2= new Chart(ctx,{
		type:"line",
		data:{
			labels:cantidadDias,
			datasets:[{
				label:'Ventas por dia',
				borderColor: 'rgb(66, 134, 244,0.5)',
				data: ventasPorDia,
				backgroundColor:[
					'rgb(66, 134, 244,0.5)'
				]
			}]

		},
	});

	var ctx= document.getElementById('myChart3').getContext("2d");
	var myChart3= new Chart(ctx,{
		type:'pie',
		data:{
			labels:['Impuestos','Salario','Alquiler','Servicios','Otros'],
			datasets:[{
				label:'Ventas por dia',
				data:['<%= egresos["impuestos"] %>','<%= egresos["salarios"] %>','<%= egresos["alquiler"] %>','<%= egresos["servicios"] %>','<%= egresos["otros"] %>'],
				backgroundColor:[
					'rgb(191, 54, 12)',
					'rgb(216, 67, 21)',
					'rgb(230, 74, 25)',
					'rgb(255, 87, 34)',
					'rgb(255, 112, 67)'
				]
			}]
		},
		options: {
    responsive: true,
    plugins: {
      legend: {
        position: 'top',
      },
      title: {
        display: true,
        text: 'Desglose de Gastos'
      }
    }
  }
	});

	const cateTipo = '<%= cateTipo %>';
	const cateCanti = '<%= cateCanti %>';

	const categoria = cateTipo.split(',');
	const cantidadCategoria = cateCanti.split(',');

		cateCanti
	var ctx= document.getElementById('myChart4').getContext("2d");
	var myChart4= new Chart(ctx,{
		type:'pie',
		data:{
			labels:categoria,
			datasets:[{
				label:'Ventas por dia',
				data:cantidadCategoria,
				backgroundColor:[
					'rgb(255, 87, 34)',
					'rgb(0, 230, 118)',
					'rgb(255, 204, 188)',
					'rgb(23, 164, 250)',
					'rgb(255, 255, 0)'
				]
			}]
		},
		options: {
    		responsive: true,
    		plugins: {
      		legend: {
        		position: 'top',
      		},
      		title: {
        		display: true,
        		text: 'Desglose de Ventas por Categoria'
      			}
    		}
  		}
	});
</script>
</html>
