<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="venta-producto2.css">
	<script src="https://unpkg.com/feather-icons"></script>
	<script src="https://kit.fontawesome.com/ee5c196280.js" crossorigin="anonymous"></script>
	<title>Entregas Pendientes | MarketNow</title>
	<meta charset="utf-8">

</head>
<body>
<main>
	<form class="cuadrado-1">

		<div class="contenedor-label">
			<label class="label-1">N° pedido <span>1328</span></label>
		</div>

		<div class="contenedor-producto">
			<label class="label-1">Descripcion Producto</label>
			<label class="label-1">Datos</label>
		</div>

		<div class="puntito">
			
		</div>
		
		<div class="contenedor-producto">
			<label class="label-1">Producto</label>
			<label class="label-1">Tomate Monsi</label>
		</div>

		<div class="contenedor-producto">
			<label class="label-1">Cantidad</label>
			<label class="label-1">3</label>
		</div>

		<div class="contenedor-producto">
			<label class="label-1">Monto Total</label>
			<label class="label-1">150.0</label>
		</div>

		<div class="contenedor-producto top">
			<label class="label-1">Metodo de Pago</label>
			<label class="label-1">Mercado Pago</label>
		</div>

		<div class="puntito">
			
		</div>

		<div class="contenedor-producto">
			<label class="label-1">Cuil</label>
			<label class="label-1">42143242</label>
		</div>

		<div class="contenedor-producto">
			<label class="label-1">Cbu</label>
			<label class="label-1">01702046600000087865</label>
		</div>

		<div class="contenedor-producto">
			<label class="label-1">Alias</label>
			<label class="label-1">Pepe Botella</label>
		</div>

		<div class="contenedor-producto top">
			<label class="label-1 ">Metodo de Pago</label>
			<label class="label-1 ">Santander</label>
		</div>

		<div class="puntito">
			
		</div>

		<div class="contenedor-producto">
			<label class="label-1">Cuil</label>
			<label class="label-1">87654678</label>
		</div>

		<div class="contenedor-producto">
			<label class="label-1">Cbu</label>
			<label class="label-1">0340045600456793703008</label>
		</div>

		<div class="contenedor-producto">
			<label class="label-1">Alias</label>
			<label class="label-1">Rodri Palta</label>
		</div>

        <input class="button_verde button" type="submit"> 
	</form>

	
</main>
</body>
</html>
