body { background: #f7f7f7; }

label {
	color: #666;
	font-size: 20px;
	font-family: sans-serif;
}

.tarjeta {
	width: 70%;
	margin: 5vh auto;
}

.tarjeta label {
	color: #333;
}

.reporte div {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 120px;
}

.reporte{
	height: 100%;
	display: flex;
	justify-content: space-between;
	padding: 30px;
}

.reporte label {
	line-height: 150%;
}

.sol {
	width: 70%;
	margin: auto;
}

.contenedor__gasto {
	display: flex;
	justify-content: space-between;
	padding: 10px 30px;
	border-radius: 10px;
}

.formulario {
	width: 50%;
	height: 121px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: flex-start;
}

.contenedor__gasto-boton {
	display: flex;
	align-items: center;
}

.contenedor__gasto-boton button {
	height: 50px;
}

form input {
	width: 282px;
	font-size: 20px;
	border-radius: 10px;
	padding: 5px;
	outline: none;
	border: 1px solid #666;
}

.tarjeta__metodos {
	display: flex;
	justify-content: space-between;
	padding: 35px 0;
}
